body {
    background-color: darkslateblue;
    background-image: url(background.gif);
    background-size: contain;
    color: rgb(255, 140, 0);
}
h1 {
    font-size: 5em;
    font-family: cursive; 
    text-align: center; 
    }
h2 {
    font-size: 3em;
    background-color: darkslateblue;
    
    text-align: center;
    }
p {
    font-size: 2em;
    background-color: rgb(255, 140, 0);
    color: darkslateblue;
    width: 560px;
    text-indent: 2em;
    }
ul {
    font-size: x-large;
    font-weight: bold;
    
    }
.nav{
    display: inline-block;
    width: 350px;
    background:darkslateblue;
}
.nav a {
    display:block;
    text-decoration: none;
    color: rgb(255, 140, 0);
    text-indent: 1em;
}
a:hover{
    background: rgb(255, 140, 0);
    color:  darkslateblue;
}